/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* intestazione */
header {
    height: 80px;
}

header div {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    display: inline-block;
}

/* modulo */

.btn {
    color: white;
    padding: 5px 10px;
    background-color: darkviolet;
}


/* contenitore */

.container {
    max-width: 1080px;
    margin: 0 auto;

}

/* tabella */

table {
    width: 100%;

}

th,
td {
    margin: 20px 0;
    text-align: center;
    border-bottom: 1px solid;
}