/* css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* intestazione */
header{
    padding-top: 10px;
    height: 80px;
}

header div{
    max-width: 1080px;
    margin: 0 auto;
}

/* contenitore */

.container{
    max-width: 1080px;
    margin: 0 auto;

}

/* tabella */

table{
    width: 100%;
    text-align: center;
}

th,
td{
    margin: 10px 0;
}